name: Build
on: [pull_request,workflow_call]
jobs:
  Checks:
    uses: ./.github/workflows/checks.yaml

  Windows:
    runs-on: windows-latest
    needs: [Checks]
    steps:
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          modules: "qtwebsockets qthttpserver"
          version: "6.4.*"

      - name: Install MSCV
        uses: ilammy/msvc-dev-cmd@v1

      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      
      - name: CMake configure
        run: cmake -DCMAKE_CXX_COMPILER=cl -DCMAKE_BUILD_TYPE:STRING=Release -B build -G Ninja

      - name: CMake build
        run: cmake --build build

      - name: CPack bundle
        run: cd build && cpack -C CPackConfig.cmake && cd ..

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        if: steps.tagstatus.outputs.TAG_EXISTS == 0
        with:
          name: dist
          path: dist/*
          retention-days: 1
          if-no-files-found: error
  Linux:
    runs-on: ubuntu-latest
    needs: [Checks]
    steps:
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          modules: "qtwebsockets qthttpserver"
          version: "6.4.*"

      - name: Install Ninja
        run: sudo apt-get install ninja-build

      - name: Install Wayland dev package
        run: sudo apt-get install libwayland-dev

      - name: Install Procps dev package
        run: sudo apt-get install libprocps-dev

      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: CMake configure
        run: cmake -DCMAKE_BUILD_TYPE:STRING=Release -B build -G Ninja

      - name: CMake build
        run: cmake --build build
